{% extends 'admin/layout.html' %}

{% block body %}
<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Patterns</li>
    </ol>

    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user mr-1"></i>
            Edit Pattern
        </div>
        <!-- EDIT USER FORM : begin -->
        <div class="card-body">
            <div class="table-responsive">
                <h5>Edit a Pattern</h5>
                <form class="form-inline edit-pattern-form" enctype="multipart/form-data" action="{{ url_for('admin.edit_hair_pattern') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group custom-form">
                        {{ form.name(class="form-control", placeholder="Hair Pattern Name", value=pattern.name) }}
                        <div class="custom-file" style="margin-bottom: 15px">
                            <input type="file" class="custom-file-input" id='image' name="image">
                            <label for="image" class="custom-file-label">Choose an image</label>
                        </div>
                        {{ form.submit(class="btn btn-outline-primary") }}
                    </div>
                </form>
            </div>
        </div>
        <!-- EDIT USER FORM : end -->

        <!-- update -->

        <!-- USERS TABLE : begin -->
        {# {% include './admin/partials/hair/patterns-table.html' %} #}
        <!-- USERS TABLE : end -->
    </div>
</div>
{% endblock %}
    
{% block scripts %}
{{ super() }}
<script>
    $('#name').val('{{ pattern.id }}')
    $('.custom-file-input').on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings('.custom-file-label').addClass("selected").html(fileName);
    })
</script>
{% endblock %}
