<div class="social-login">
    {# <h5>Or {{ page }} With</h5> #}
    <h5>Coming Soon</h5>
    <ul>
        <li class="facebook">
            {# <a href="#"> #}
                <i class="fab fa-facebook-f"></i>
            {# </a> #}
        </li>
        <li class="twitter">
            {# <a href="#"> #}
                <i class="fab fa-twitter"></i>
            {# </a> #}
        </li>
        <li class="g-plus">
            {# <a href="#"> #}
                <i class="fab fa-google-plus-g"></i>
            {# </a> #}
        </li>
    </ul>
</div>