{% extends 'admin/layout.html' %}

{% block body %}
<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Course Categories</li>
    </ol>

    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user mr-1"></i>
            Edit Course Category
        </div>
        <!-- EDIT USER FORM : begin -->
        <div class="card-body">
            <div class="table-responsive">
                <h5>Edit a Course Category</h5>

                <form class="form-inline" action="{{ url_for('admin.edit_course_category', id=c.id) }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group custom-form">
                        {{ form.name(class='form-control', placeholder='Course Category Name', value=c.name) }}
                        {{ form.icon(class='form-control', placeholder="FlatIcon", value=c.icon) }}
                        {{ form.submit(class="btn btn-outline-primary") }}
                </form>

                {# <form class="form-inline edit-user-form" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group custom-form">
                        {{ form.pattern(class="form-control", style="margin-right: 15px") }}
                        {{ form.category(class="form-control", style="margin-right: 15px") }}
                        {{ form.price(class='form-control', placeholder="Price", value=product.price) }}
                        {{ form.length(class='form-control', placeholder="Hair Length", value=product.length) }}
                        {{ form.submit(class="btn btn-outline-primary") }}
                    </div>
                </form> #}
            </div>
        </div>
        <!-- EDIT USER FORM : end -->

        <!-- USERS TABLE : begin -->
        {# {% include './admin/partials/hair/products-table.html' %} #}
        <!-- USERS TABLE : end -->
    </div>
</div>
{% endblock %}