{% extends 'admin/layout.html' %}

{% block body %}
<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Look around!</li>
    </ol>
    <!-- CARDS EXAMPLE - begin -->
    {# {% include './admin/partials/cards.html' %} #}
    <!-- CARDS EXAMPLE - end -->
    
    <!-- CHARTS EXAMPLE - begin -->
    {# {% include './admin/partials/charts.html' %} #}
    <!-- CHARTS EXAMPLE - end -->
    
    <!-- DATATABLE EXAMPLE - begin -->
    {# {% include './admin/partials/users.html' %} #}
    <!-- DATATABLE EXAMPLE - end -->
</div>
{% endblock %}