<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - Zara Learning Admin</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link href="{{ url_for('admin.static', filename='css/styles.css') }}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <link href="{{ url_for('admin.static', filename='css/custom.css') }}" rel="stylesheet" />
    </head>
    <body class="sb-nav-fixed">
        {% include './admin/partials/navigation-main.html' %}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                {% include './admin/partials/navigation-side.html' %}
            </div>
            <div id="layoutSidenav_content">
                <main>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for c, m in messages %}
                                <div class="alert alert-{{ c }} alert-dismissible fade show" role="alert" style="border-radius: 0px;">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>{{ m }}</strong> 
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    {% block body %}{% endblock %}
                </main>
                {% include './admin/partials/footer.html' %}
            </div>
        </div>
        {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('admin.static', filename='js/scripts.js') }}"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script> -->
        <!-- <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script> -->
        <!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script> -->
        <script src="{{ url_for('admin.static', filename='js/custom.js') }}"></script>
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        {% endblock %}
    </body>
</html>
