{% extends 'admin/layout.html' %}

{% block body %}
<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Roles</li>
    </ol>

    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-users mr-1"></i>
            Manage Roles
        </div>
        <!-- ROLES FORM : begin -->
        <div class="card-body">
            <div class="table-responsive">
                <h5>Create a Role</h5>
                <form class="form-inline" action="{{ url_for('admin.create_role') }}" method="POST">
                    <div class="form-group custom-form">
                        <input type="text" name="name" id="" class="form-control" placeholder="Create a role">
                        <input type="submit" class="btn btn-outline-primary" id="" value="Create Role">
                    </div>
                </form>
            </div>
        </div>
        <!-- ROLES FORM : end -->

        <!-- ROLES TABLE : begin -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for r in roles %}
                            <tr>
                                <td>{{ r.id }}</td>
                                <td>{{ r.name }}</td>
                                <td style="text-align: center;">
                                    <span class="float-right delete-icon">
                                        <a href="{{ url_for('admin.delete_role', id=r.id) }}">
                                            <i class="fa fa-trash-alt text-danger"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- ROLES TABLE : end -->
    </div>
</div>
{% endblock %}