<div class="courses-area default-padding">
    <div class="container">
        <div class="courses-items">
            <div class="row">
                {% if not courses %}
                <div style="margin: 0 auto;">
                    <h4>Oops! It looks like you can't find what you're looking for. We are adding material regulary, so heck back soon!</h4>
                </div>
                {% else %}
                {% for c in courses %}
                <!-- Single item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img class="img-fluid" style="width:350px; height:350px;"  src="{{ aws_bucket_image_location }}/{{ c.video_thumbnail }}" alt="{{ c.name }}" />
                            <div class="course-info">
                                <ul>
                                    <li><i class="fas fa-clock"></i> {{ '{:.0f}'.format(c.video_length) if c.video_length else '0' }} Minutes</li>
                                    <!-- <li><i class="fas fa-list-ul"></i> 345</li> -->
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="top-info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <img src="{{ url_for('static', filename='assets/img/100x100.png') }}" alt="Advisor">
                                        <a href="#">Busel park</a> in <a href="#">Web</a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <div class="info">
                            <div class="price-rating">
                                <div class="rating">
                                    {% for s in c.reviews.avg.stars %}
                                    <i class="fas fa-star"></i>
                                    {% endfor %}
                                    <span>({{ c.reviews.list|length }})</span>
                                </div>
                                {# <div class="price">
                                    Free
                                </div> #}
                            </div>
                            <h4>
                                <a href="{{ url_for('courses.detail', name=c.slug) }}">{{ c.name }}</a>
                            </h4>
                            <div class="bottom">
                                <ul>
                                    <li><i class="fas fa-user"></i> {{ c.viewers.list|length }}</li>
                                </ul>
                                <a class="btn btn-theme effect btn-sm" href="{{ url_for('courses.detail', name=c.slug) }}">
                                    Watch
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->
                {% endfor %}
                {% endif %}
            </div>

            <!-- Pagination -->
            <div class="row">
                <div class="col-md-12 pagi-area text-center">
                    {% if courses %}
                    <nav aria-label="navigation">
                        <ul class="pagination">
                            {% if prev_url %}
                            <li class="page-item"><a class="page-link" href="{{ prev_url }}"><i class="fas fa-angle-double-left"></i>Previous Page &nbsp;</a></li>
                            {% endif %}
                            {% if next_url %}
                            <li class="page-item"><a class="page-link" href="{{ next_url }}"> &nbsp;Next Page<i class="fas fa-angle-double-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>