{% extends 'layout-secondary.html' %}
{% block title %}{{ super() }} - Course{% endblock title %}

{% block body %}
<!-- Start Breadcrumb -->
<div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover" style="background-image: url(https://zclearning.s3.amazonaws.com/templates/courses/course-detail.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Course Details</h1>
                <ul class="breadcrumb">
                    <li><a href="{{ url_for('main.home') }}"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active"><a href="{{ url_for('courses.index') }}">Courses</a></li>
                    {# <li class="active">Course</li> #}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Course Details -->
<div class="course-details-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 info">

                <div class="top-info">
                    <h2>{{ c.name }}</h2>
                    <ul>
                        {# <li>
                            <div class="thumb">
                                <img src="{{ url_for('static', filename='assets/img/100x100.png') }}" alt="Thumb">
                            </div>
                            <div class="info">
                                <span>Professional</span>
                                <h5>John Kanel</h5>
                            </div>
                        </li> #}
                        <li>
                            <div class="info">
                                <span>Category</span>
                                <h5>{{ c.category.name }}</h5>
                            </div>
                        </li>
                        <li>
                            <div class="info">
                                <span>Date Added</span>
                                <h5>{{ moment(c.date_created).format("MMMM Do, YYYY") }}</h5>
                                {# <h5>January 24, 2021</h5> #}
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="main-content">
                    <div class="center-tabs">
                        <ul id="tabs" class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="" data-target="#tab1" data-toggle="tab" class="active nav-link">Overview</a>
                            </li>
                            {# <li class="nav-item">
                                <a href="" data-target="#tab2" data-toggle="tab" class="nav-link">Curriculum</a>
                            </li> #}
                            <!-- <li class="nav-item">
                                <a href="" data-target="#tab3" data-toggle="tab" class="nav-link">About the Professional</a>
                            </li> -->
                            <li class="nav-item">
                                <a href="" data-target="#tab4" data-toggle="tab" class="nav-link">Reviews</a>
                            </li>
                        </ul>
                        <div id="tabsContent" class="tab-content">
                            <div id="tab1" class="tab-pane overview fade active show">
                                <h4>Course Description</h4>
                                <p>
                                    {{ c.description }}
                                </p>
                                <h4>Learning Objectives</h4>
                                <ul>
                                    {% for o in c.learning_objectives %}
                                    <li>{{ o.description }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {# <div id="tab2" class="tab-pane curriculum fade">
                                <p>
                                    Placing assured be if removed it besides on. Far shed each high read are men over day. Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had now those ought set often which. Or snug dull he show more true wish. No at many deny away miss evil. On in so indeed spirit an mother. Amounted old strictly but marianne admitted. People former is remove remain as.
                                </p>
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Java Programming
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li>
                                                        <div class="left-content">
                                                            <span>01</span>
                                                            <i class="fas fa-play-circle"></i>
                                                            <h5><a href="#">Introduction Of Java</a></h5>
                                                        </div>
                                                        <div class="right-content">
                                                            <a href="#">Preview</a>
                                                            <span><i class="fas fa-clock"></i> 19 minutes</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-content">
                                                            <span>02</span>
                                                            <i class="fas fa-file"></i>
                                                            <h5><a href="#">Basic Development</a></h5>
                                                        </div>
                                                        <div class="right-content">
                                                            <i class="fas fa-lock"></i>
                                                            <span><i class="fas fa-clock"></i> 11 minutes</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    PHP Programming
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li>
                                                        <div class="left-content">
                                                            <span>01</span>
                                                            <i class="fas fa-play-circle"></i>
                                                            <h5><a href="#">Introduction</a></h5>
                                                        </div>
                                                        <div class="right-content">
                                                            <a href="#">Preview</a>
                                                            <span><i class="fas fa-clock"></i> 36 minutes</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-content">
                                                            <span>02</span>
                                                            <i class="fas fa-play-circle"></i>
                                                            <h5><a href="#">Benifits Of Function</a></h5>
                                                        </div>
                                                        <div class="right-content">
                                                            <i class="fas fa-lock"></i>
                                                            <span><i class="fas fa-clock"></i> 58 minutes</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Python learning
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li>
                                                        <div class="left-content">
                                                            <span>01</span>
                                                            <i class="fas fa-play-circle"></i>
                                                            <h5><a href="#">About Python</a></h5>
                                                        </div>
                                                        <div class="right-content">
                                                            <a href="#">Preview</a>
                                                            <span><i class="fas fa-clock"></i> 47 minutes</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="left-content">
                                                            <span>02</span>
                                                            <i class="fas fa-play-circle"></i>
                                                            <h5><a href="#">Python For Beginners</a></h5>
                                                        </div>
                                                        <div class="right-content">
                                                            <i class="fas fa-lock"></i>
                                                            <span><i class="fas fa-clock"></i> 44 minutes</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> #}
                            <div id="tab3" class="tab-pane advisor fade">
                                <div class="advisor-items">
                                    <!-- Single Item -->
                                    <div class="single-item">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 thumb">
                                                <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Advisor">
                                            </div>
                                            <div class="col-lg-8 col-md-8 info">
                                                <h4>Jones Mark</h4>
                                                <span>Java Programmer</span>
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                    <span>4.8 (867)</span>
                                                </div>
                                                <p>
                                                    Lasted my coming uneasy marked so should. Gravity letters it amongst herself dearest an windows by. Wooded ladies she basket season age her uneasy saw. Discourse unwilling am no described. 
                                                </p>
                                                <ul>
                                                    <li><i class="fas fa-play"></i> 12 Courses</li>
                                                    <li><i class="fas fa-comment-alt"></i> 867 Rating</li>
                                                    <li><i class="fas fa-users"></i> 4k Students</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="single-item">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 thumb">
                                                <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Advisor">
                                            </div>
                                            <div class="col-lg-8 col-md-8 info">
                                                <h4>Adom Mohaa</h4>
                                                <span>Professor</span>
                                                <div class="rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                    <span>4.8 (867)</span>
                                                </div>
                                                <p>
                                                    Lasted my coming uneasy marked so should. Gravity letters it amongst herself dearest an windows by. Wooded ladies she basket season age her uneasy saw. Discourse unwilling am no described. 
                                                </p>
                                                <ul>
                                                    <li><i class="fas fa-play"></i> 12 Courses</li>
                                                    <li><i class="fas fa-comment-alt"></i> 867 Rating</li>
                                                    <li><i class="fas fa-users"></i> 4k Students</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                </div>
                            </div>
                            <div id="tab4" class="tab-pane reviews fade">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="avg-ratings">
                                            <h2>{{ c.reviews.avg.value }}</h2>
                                            {% if c.reviews.avg.stars|length > 0 %}
                                            <div class="rating">
                                                {% for s in c.reviews.avg.stars %}
                                                <i class="fas fa-star"></i>
                                                {% endfor %}
                                            </div>
                                            {{ c.reviews.list|length }} Rating{% if c.reviews.list|length != 1 %}s{% endif %}
                                            {% else %}
                                            <p>There are no revies yet.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-8 rating-counter">
                                        <ul>
                                        {% for s in c.reviews.breakdown %}
                                        <li>
                                            <span>{{ s[0] }} Star{% if s[0]!=1 %}s{% endif %}</span>
                                            <span>{{ s[1] }}</span>
                                            <div class="rating-bar">
                                                <div style="border-radius: 30px; height: 7px;" class="progress">
                                                    <div style="background: #ffb606; border-radius: 30px; width: {{ s[2]*100 }}%" class="progress-bar" role="progressbar" aria-valuenow="{{ s[2] }}" aria-valuemin="0" aria-valuemax="{{ c.reviews.list|length }}"></div>
                                                </div>
                                                <!-- <div class="rating-bar-progress"></div> -->
                                            </div>
                                        </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="rating-provider">
                            
                                    <!-- Single Item -->
                                    {% for r in c.reviews.list %}
                                    <div class="single-item">
                                        <div class="thumb">
                                            <a href="{{ url_for('courses.detail', name=c.slug) }}">
                                                <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" alt="{{ c.name }}">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h4>{{ r.name }}</h4>
                                                <span>{{ moment(r.date_created).format("MMMM Do, YYYY") }}</span>
                                            </div>
                                            <div class="rating">
                                                {% for s in r.rating %}
                                                <i class="fas fa-star"></i>
                                                {% endfor %}
                                            </div>
                                            <div class="content">
                                                <p>
                                                    {{ r.text }}
                                                </p>
                                            </div>
                                            <!-- <div class="comments-info">
                                                <a href="#course-comment-reply-header" class="course-comment-reply"><i
                                                        class="comment-reply fa fa-reply"></i>Reply</a>
                                            </div> -->
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!-- Single Item -->
                            
                                </div>
                            
                                <!-- Start Blog Comment -->
                                <div class="blog-comments">
                                    <div class="comments-area">
                                        <div class="comments-title">
                                            <!-- <h4>
                                                {{ c.reviews.list|length }} comments
                                            </h4> -->
                                            <!-- <div class="comments-list">
                                                <div class="commen-item">
                                                    <div class="avatar">
                                                        <img src="assets/img/800x800.png" alt="Author">
                                                    </div>
                                                    <div class="content">
                                                        <div class="title">
                                                            <h5>Jonathom Doe</h5>
                                                            <span>28 Aug, 2020</span>
                                                        </div>
                                                        <p>
                                                            Delivered ye sportsmen zealously arranging frankness estimable as. Nay any article
                                                            enabled musical shyness yet sixteen yet blushes. Entire its the did figure wonder off.
                                                        </p>
                                                        <div class="comments-info">
                                                            <a href=""><i class="fa fa-reply"></i>Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="commen-item reply">
                                                    <div class="avatar">
                                                        <img src="assets/img/800x800.png" alt="Author">
                                                    </div>
                                                    <div class="content">
                                                        <div class="title">
                                                            <h5>Spart Lee</h5>
                                                            <span>17 Feb, 2020</span>
                                                        </div>
                                                        <p>
                                                            Delivered ye sportsmen zealously arranging frankness estimable as. Nay any article
                                                            enabled musical shyness yet sixteen yet blushes. Entire its the did figure wonder off.
                                                        </p>
                                                        <div class="comments-info">
                                                            <a href=""><i class="fa fa-reply"></i>Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div style="margin-top: 40px;" class="review-area">
                                        <div class="comments-form">
                                            <div class="title">
                                                <h4 id="course-comment-reply-header">Leave a comment</h4>
                                            </div>
                                            <form id="course-comment-form" class="contact-comments" method="POST"
                                                action="{{ url_for('courses.create_course_review', course=c.slug) }}">
                                                <input type="hidden" name="course_id" value='{{ c.id }}'>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <!-- Name -->
                                                            <input name="name" class="form-control" placeholder="Name *" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <!-- Email -->
                                                            <input name="email" class="form-control" placeholder="Email *" type="email">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <select class="form-control" name="rating">
                                                                <option selected disabled>Please rate this course</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group comments">
                                                            <!-- Comment -->
                                                            <textarea class="form-control" placeholder="Comment" name='text'></textarea>
                                                        </div>
                                                        <div class="form-group full-width submit">
                                                            <button type="submit">
                                                                Post Comment
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Comments Form -->
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 sidebar">
                <!-- Single Item -->
                <div class="item course-preview">
                    <div class="thumb">
                        <img src="{{ aws_bucket_image_location }}/{{ c.video_thumbnail }}" alt="Thumb">
                        {% if current_user.is_authenticated and current_user.is_customer %}
                        <a href="{{ aws_bucket_video_location }}/{{ c.video }}" class="popup-youtube light video-play-button item-center">
                            <i class="fa fa-play"></i>
                        </a>
                        {% endif %}
                    </div>
                    <div class="content">
                        <!-- <div class="top">
                            <div class="pricce">
                                <h2>$32</h2>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span>4.8 (867)</span>
                            </div>
                        </div> -->
                        <div class="course-includes">
                            <ul>
                                <li>
                                    <i class="fas fa-clock"></i> Duration <span class="float-right">{{ '{:.0f}'.format(c.video_length) if c.video_length else '0' }}m</span>
                                </li>
                                <li>
                                    <i class="fas fa-sliders-h"></i> Skill level <span class="float-right">{{ c.skill_level.name if c.skill_level else 'Novice' }}</span>
                                </li>
                            </ul>
                        </div>
                        {% if current_user.is_authenticated and current_user.is_customer %}
                        <a class="btn btn-theme effect btn-sm popup-youtube" href="{{ aws_bucket_video_location }}/{{ c.video }}">Watch</a>
                        {% elif not current_user.is_authenticated %}
                        <a class="btn btn-theme effect btn-sm" href="{{ url_for('auth.login') }}">Log In</a>
                        {% else %}
                        <button style="margin-top:15px;" id='stripe-subscribe' class="btn btn-theme effect btn btn-lg btn-block">Subscribe</button>
                        {% endif %}
                    </div>
                </div>
                <!-- Single Item -->

                <!-- Single Item -->
                {% if c.tags_ %}
                <div class="item course-category">
                    <div class="sidebar-item tags">
                        <div class="title">
                            <h4>Tags</h4>
                        </div>
                        <div class="sidebar-info">
                            <ul>
                                {% for t in c.tags_ %}
                                    <li style="display:unset"><a style="text-transform:unset" href="{{ url_for('courses.tags', name=t.text) }}">{{ t.text|lower }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {# <div class="content">
                        <h4>Search by Tags</h4>
                        <ul>
                            {% for t in c.tags_ %}
                                <a href="{{ url_for('courses.tags', name=t.text) }}">{{ t.text }}</a>
                            {% endfor %}
                        </ul>
                    </div> #}
                </div>
                {% endif %}
                <!-- End Single Item -->

                <!-- Single Item -->
                {% if related %}
                <div class="item related-course">
                    <div class="content">
                        <h4>Related Courses</h4>
                        <div class="related-courses-items">
                            {% for r in related %}
                            <div class="item">
                                <div class="content">
                                    <div class="thumb">
                                        <a href="{{ url_for('courses.detail', name=r.slug) }}">
                                            <img src="{{ aws_bucket_image_location }}/{{ r.video_thumbnail }}" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h5>
                                            <a href="{{ url_for('courses.detail', name=r.slug) }}">{{ r.name }}</a>
                                        </h5>
                                        <div class="rating">
                                            {% for s in r.reviews.avg.stars %}
                                            <i class="fas fa-star"></i>
                                            {% endfor %}
                                            <span>{{ r.reviews.avg.value }} ({{ r.reviews.list|length }})</span>
                                        </div>
                                        <!-- <div class="meta">
                                            <i class="fas fa-user"></i> By <a href="#">Spany Paul</a> 
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- End Single Item -->
                
            </div>
        </div>
    </div>
</div>
<!-- End Course Details -->
{% endblock body %}

{% block scripts %}
{{ super() }}
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('{{ stripe_pub_key }}')
    $('#stripe-subscribe').each((idx, el) => {
        $(el).on('click', e => {
            if ('{{ is_authenticated }}' === 'False') {
                return window.location.href = '/auth/login?is_authenticated=false';
            }
            fetch('/shop/subscribe', {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    priceId: '{{ subscription_basic }}'
                })
            })
                .then(res => res.json())
                .then(data => {
                    stripe.redirectToCheckout({
                        sessionId: data.sessionId
                    }).then(() => console.log('Done'))
                })
        })
    })
</script>
<script>
    $('.popup-youtube').each((idx, e) => {
        $(e).on('click', e => {
            // e.preventDefault();
            fetch("{{ url_for('courses.check_viewership', course=c.id) }}", {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user: "{{ current_user }}" })
            })
            .then(res => res.json)
            .then(d => console.log(d))
        })
    })

    // var reviewForm = $('#course-comment-form');

    // $('.course-comment-reply').each((idx, e) => {
    //     $(e).on('click', () => {
    //         reviewForm.attr('id', "{{ url_for('courses.create_course_review', id=c.id) }}")
    //     })
    // })

    // reviewForm.on('submit', async (e) => {
    //     // e.preventDefault();
    //     await fetch("{{ url_for('courses.create_course_review', id=c.id) }}", {
    //         mode: 'cors',
    //         method: 'POST',
    //         headers: { 'Content-Type': 'application/json' },
    //         body: JSON.stringify({ data: reviewForm.serializeArray() })
    //     }).then(res => res.json()).then(() => reviewForm.submit())
        
    // });
</script>
{% endblock scripts %}