<script src="{{ url_for('static', filename='assets/js/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.appear.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/modernizr.custom.13711.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/progress-bar.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/count-to.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/YTPlayer.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.nice-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/loopcounter.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootsnav.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>