<div class="banner-area content-only top-pad-170 shadow dark text-light bg-fixed text-center"
    style="background-image: url(../../../static/assets/img/2440x1578.png);">
    <div class="item">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-8 offset-lg-2">
                    <div class="content">
                        <h1>Learn how to code for a new career</h1>
                        <!-- <ul>
                            <li>12,455 Courses</li>
                            <li>4.9 Average</li>
                        </ul> -->
                        <form action="{{ url_for('courses.search') }}">
                            <input type="text" placeholder="Search for a topic" class="form-control" name="search">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>