<div class="blog-area bg-gray default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h5>Blog</h5>
                    <h2>Latest From our Blog</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="blog-items">
            <div class="row">
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a href="#"><img src="{{ url_for('static', filename='assets/img/800x600.png') }}" alt="Thumb"></a>
                            <div class="date">
                                <strong>18 </strong> Aug
                            </div>
                        </div>
                        <div class="content">
                            <h4><a href="blog-single-right-sidebar.html">Comfort do written conduct prevent manners</a></h4>
                            <p>
                                    Arndlord packages overcame distance smallest in recurred. Wrong maids or be asked Household. 
                            </p>
                        </div>
                        <div class="bottom-info">
                            <span><i class="fas fa-user"></i> Jones Alex</span>
                            <a class="btn-more" href="#">Read More <i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a href="#"><img src="{{ url_for('static', filename='assets/img/800x600.png') }}" alt="Thumb"></a>
                            <div class="date">
                                <strong>05 </strong> Sep
                            </div>
                        </div>
                        <div class="content">
                            <h4><a href="blog-single-right-sidebar.html">Excited it hastily an pasture it observe points.</a></h4>
                            <p>
                                    Arndlord packages overcame distance smallest in recurred. Wrong maids or be asked Household. 
                            </p>
                        </div>
                        <div class="bottom-info">
                            <span><i class="fas fa-user"></i> Jones Alex</span>
                            <a class="btn-more" href="#">Read More <i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a href="#"><img src="{{ url_for('static', filename='assets/img/800x600.png') }}" alt="Thumb"></a>
                            <div class="date">
                                <strong>25 </strong> Feb
                            </div>
                        </div>
                        <div class="content">
                            <h4><a href="blog-single-right-sidebar.html">Improve ashamed married expense bed her comfort.</a></h4>
                            <p>
                                    Arndlord packages overcame distance smallest in recurred. Wrong maids or be asked Household. 
                            </p>
                        </div>
                        <div class="bottom-info">
                            <span><i class="fas fa-user"></i> Jones Alex</span>
                            <a class="btn-more" href="#">Read More <i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>