<div class="categories-area carousel-shadow thumb-cats default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h5>Browse Categories</h5>
                    <h2>Popular Topics to learn</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-full">
        <div class="category-items thumb-categories-carousel owl-carousel owl-theme">
            {% for cat in course_categories %}
            <!-- Single Item -->
            <div class="item">
                <div class="title">
                    <!-- <i class="flaticon-{{ cat.icon }}"></i> -->
                    <!-- TODO: Give Course Categories slugs -->
                    <h4><a href="{{ url_for('courses.category', name=cat.slug) }}">{{ cat.name }}</a></h4>
                </div>
                <div class="thumb">
                    <span>{{ cat.courses|length }} Cours{% if cat.courses|length == 1 %}e{% else %}es{% endif %}</span>
                    <img style="height: 360px; width: 360px" class="img-fluid" src="{{ aws_bucket_cat_image_location }}/{{ cat.image }}" alt="Thumb">
                </div>
            </div>
            <!-- End Single Item -->
            {% endfor %}
        </div>
    </div>
</div>