<div class="course-area default-padding-bottom bottom-less">

    <!-- Fixed Shape -->
    <div class="fixed-shape">
        <img src="{{ url_for('static', filename='assets/img/shape/7.png') }}" alt="Shape">
    </div>
    <!-- End Fixed Shape -->

    <div class="container">
        <div class="heading-left">
            <div class="row">
                <div class="col-lg-5">
                    <h5>Popular Topics</h5>
                    <h2>
                        Career-oriented learning
                    </h2>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <p>
                        Search our videos get started learning how to code from professionals in the industry. It's career-guided, so that means there's no fluff.
                    </p>
                    <a class="btn btn-md btn-dark border" href="{{ url_for('courses.index') }}">View All <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="courses-box">
            <div class="row">
                <!-- Single item -->
                {% for c in courses %}
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img style="width: 350px; height:350px;" src="{{ aws_bucket_image_location }}/{{ c.video_thumbnail }}" alt="Thumb">
                        </div>
                        <div class="info">
                            <!-- <div class="top-info">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <span>4.8 (867)</span>
                                </div>
                                <div class="price">
                                    $15.00
                                </div>
                            </div> -->
                            <!-- <div class="meta">
                                <ul>
                                    <li>
                                        <img src="{{ url_for('static', filename='assets/img/100x100.png') }}" alt="Advisor">
                                        <a href="#">Busel park</a> in <a href="#">Programming</a>
                                    </li>
                                </ul>
                            </div> -->
                            <h4><strong>{{ c.name }}</strong></h4>
                            <p>
                                {{ c.description|truncate(95) }}
                            </p>
                            <div class="bottom-info">
                                <div class="course-info">
                                    <ul>
                                        <li><i class="fas fa-clock"></i> {{ '{:.0f}'.format(c.video_length) if c.video_length else '0' }}m</li>
                                        <li><i class="fas fa-list-ul"></i> 65</li>
                                        <li><i class="fas fa-user"></i> 6K</li>
                                    </ul>
                                </div>
                                <div class="enroll">
                                    <a href="{{ url_for('courses.detail', name=c.slug) }}" class="btn btn-theme effect btn-sm video-watch">Watch</a>
                                    {# {% if current_user.is_authenticated %}
                                        <a class="btn btn-theme effect btn-sm video-watch" href="{{ url_for('courses.detail', id=c.id) }}">Watch</a>
                                        <button class="btn btn-theme effect btn-sm stripe-subscribe">Subscribe</button>
                                    {% else %}
                                    {% endif %} #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End Single item -->
            </div>
        </div>
    </div>
</div>