<div class="fun-factor-area overflow-hidden bg-gradient text-light default-padding">
    <div class="container">
        <div class="fun-fact-items text-center">
            <!-- Fixed BG -->
            <div class="fixed-bg contain" style="background-image: url(../../../static/assets/img/map.svg);"></div>
            <!-- Fixed BG -->
            <div class="row">
                <div class="col-lg-3 col-md-6 item">
                    <div class="fun-fact">
                        <div class="counter">
                            <div class="timer" data-to="35" data-speed="5000">35</div>
                            <div class="operator">M</div>
                        </div>
                        <span class="medium">Learners & counting</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item">
                    <div class="fun-fact">
                        <div class="counter">
                            <div class="timer" data-to="128" data-speed="5000">128</div>
                            <div class="operator">K</div>
                        </div>
                        <span class="medium">Total courses</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item">
                    <div class="fun-fact">
                        <div class="counter">
                            <div class="timer" data-to="12" data-speed="5000">12</div>
                            <div class="operator">+</div>
                        </div>
                        <span class="medium">Languages</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item">
                    <div class="fun-fact">
                        <div class="counter">
                            <div class="timer" data-to="90" data-speed="5000">90</div>
                            <div class="operator">%</div>
                        </div>
                        <span class="medium">Successful students</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>