<div class="testimonials-area carousel-shadow default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h5>Testimonials</h5>
                    {% if testimonials %}
                    <h2>What People say about <br> Our quality.</h2>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="testimonial-items text-center">
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonials-carousel owl-carousel owl-theme">
                        {% if testimonials %}
                        {% for t in testimonials %}
                        <!-- Single item -->
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-quotation"></i>
                            </div>
                            <div class="content">
                                <p>
                                    {{ t.message }} 
                                </p>
                                <div class="rating">
                                {% for s in t.rating %}
                                <i class="fas fa-star"></i>
                                {% endfor %}
                                    {# <i class="fas fa-star-half-alt"></i> #}
                                </div>
                            </div>
                            <div class="provider">
                                <div class="thumb">
                                    <img src="{{ url_for('static', filename='assets/img/100x100.png') }}" alt="Thumb">
                                </div>
                                <div class="info">
                                    <h5>{{ t.name }}</h5>
                                    <span>{{ t.occupation }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single item -->
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>