<div class="choose-us-area default-padding">
    <!-- Fixed Shpae  -->
    <div class="fixed-shape shape left bottom">
        <img src="{{ url_for('static', filename='assets/img/shape/1.png') }}" alt="Shape">
    </div>
    <!-- End Fixed Shpae  -->
    <div class="container">
        <div class="item-box">
            <div class="row">
                <div class="col-lg-5 left-info">
                    <h2>Why Learn Here?</h2>
                    <p>
                        One advanced diverted domestic sex repeated bringing you old. Possible procured her trifling laughter thoughts property she met way. Companions shy had solicitude favourable own. 
                    </p>
                    <p>
                            Which could saw guest man now heard but. Lasted my coming uneasy marked so should. Gravity letters it amongst herself dearest an windows by. Wooded ladies she basket season age her uneasy saw. Discourse unwilling.
                    </p>
                    <a data-animation="animated fadeInUp" class="btn btn-md btn-gradient" href="#">Discover More</a>
                </div>
                <div class="col-lg-6 offset-lg-1 right-info">
                    <ul>
                        <li>
                            <i class="fas fa-check"></i>
                            <h4>Lower Learning Cost</h4>
                            <p>
                                Discourse unwilling am no described dejection incommode no listening of. Before nature his parish boy.
                            </p>
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            <h4>Learn With Experts</h4>
                            <p>
                                Varoius unwilling am no described dejection incommode no listening highest. Before nature his parish more then expert.
                            </p>
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            <h4>Different Course Variation</h4>
                            <p>
                                Discourse unwilling am no described dejection incommode no listening of. Before nature his parish boy.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>