<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    {% if current_user.role.rank < 4 %}<th></th>{% endif %}
                    <!-- <th>ID</th> -->
                    <th>Description</th>
                    {% if current_user.role.rank < 4 %}<th></th>{% endif %}
                </tr>
            </thead>
            <tfoot>
                <tr>
                    {% if current_user.role.rank < 4 %}<th></th>{% endif %}
                    <!-- <th>ID</th> -->
                    <th>Description</th>
                    {% if current_user.role.rank < 4 %}<th></th>{% endif %}
                </tr>
            </tfoot>
            <tbody>
                {% for t in tips %}
                    <tr>
                        {% if current_user.role.rank < 4 %}
                        <td style="text-align: center;">
                            <span class="edit-icon">
                                <a href="{{ url_for('admin.edit_hair_tip', id=t.id) }}">
                                    <i class="far fa-edit text-info"></i>
                                </a>
                            </span>
                        </td>
                        {% endif %}
                        <td>{{ t.description }}</td>
                        {% if current_user.role.rank < 4 %}
                        <td style="text-align: center;">
                            <span class="delete-icon">
                                <a href="{{ url_for('admin.delete_hair_tip', id=t.id) }}">
                                    <i class="fa fa-trash-alt text-danger"></i>
                                </a>
                            </span>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>