<div class="about-area default-padding-top">
    <!-- Fixed Shape -->
    <div class="fixed-shape-bottom">
        <img src="{{ url_for('static', filename='assets/img/shape/12.png') }}" alt="Shape">
    </div>
    <!-- End Fixed Shape -->
    <div class="container">
        <div class="about-items">
            <div class="row align-center">

                <div class="col-lg-6 info">
                    <h2>
                        Turn your ambition into a success story
                    </h2>
                    <p>
                        Education opens up the mind, expands it and allows you to improve your life in so many ways.
                        Turned it up should no valley cousin he. Speaking numerous ask did horrible packages set.
                        Ashamed herself has distant can studied mrs. Led therefore its middleton perpetual fulfilled
                        provision frankness it up should no valley.
                    </p>
                    <ul>
                        <li>
                            <div class="fun-fact">
                                <span class="timer" data-to="168" data-speed="5000"></span>
                                <span class="medium">Online Courses</span>
                            </div>
                        </li>
                        <li>
                            <div class="fun-fact">
                                <span class="timer" data-to="454" data-speed="5000"></span>
                                <span class="medium">Students</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6 thumb">
                    <img src="{{ url_for('static', filename='assets/img/illustration/5.png') }}" alt="Thumb">
                </div>

            </div>
        </div>
    </div>
</div>