<div class="advisor-area default-padding bottom-less">
    <div class="container">
        <div class="heading-left">
            <div class="row">
                <div class="col-lg-5">
                    <h5>Course Advisor</h5>
                    <h2>
                        Our professional & Expert Course advisor
                    </h2>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <p>
                        Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated
                        estimating excellence an to impression.
                    </p>
                    <a class="btn btn-md btn-dark border" href="#">View All <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="advisor-items text-center">
            <div class="row">
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Thumb">
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <h4><a href="#">Prof. Deol Jones</a></h4>
                            <span>Science specialist</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Thumb">
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <h4><a href="#">Busel park</a></h4>
                            <span>Programmer</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Thumb">
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <h4><a href="#">Jnoes Sari</a></h4>
                            <span>Chemistry specialist</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Thumb">
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <h4><a href="#">Dr. Anil Dev</a></h4>
                            <span>Developer</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>