<div class="gallery-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h5>Gallery</h5>
                    <h2>Recent Gallery</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="magnific-mix-gallery masonary">
            <div id="portfolio-grid" class="gallery-items colums-3">
                <!-- Single Item -->
                <div class="pf-item">
                    <div class="item-inner">
                        <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Thumb">
                        <div class="effect-info">
                            <a href="{{ url_for('static', filename='assets/img/800x800.png') }}" class="item popup-link">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="pf-item">
                    <div class="item-inner">
                        <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Thumb">
                        <div class="effect-info">
                            <a href="{{ url_for('static', filename='assets/img/800x800.png') }}" class="item popup-link">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="pf-item">
                    <div class="item-inner">
                        <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Thumb">
                        <div class="effect-info">
                            <a href="{{ url_for('static', filename='assets/img/800x800.png') }}" class="item popup-link">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="pf-item">
                    <div class="item-inner">
                        <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Thumb">
                        <div class="effect-info">
                            <a href="{{ url_for('static', filename='assets/img/800x800.png') }}" class="item popup-link">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="pf-item">
                    <div class="item-inner">
                        <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Thumb">
                        <div class="effect-info">
                            <a href="{{ url_for('static', filename='assets/img/800x800.png') }}" class="item popup-link">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="pf-item">
                    <div class="item-inner">
                        <img src="{{ url_for('static', filename='assets/img/800x800.png') }}" alt="Thumb">
                        <div class="effect-info">
                            <a href="{{ url_for('static', filename='assets/img/800x800.png') }}" class="item popup-link">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>