<div class="why-choseus-area bg-gray default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h5>Why Chose us</h5>
                    <h2>Everything you Need for your <br>Institute or University</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End Fixed BG -->
    <div class="container-full">
        <div class="info">
            <div class="row">

                <div class="single-item thumb col-lg-5">
                    <div class="thumb-box">
                        <img src="{{ url_for('static', filename='assets/img/800x600.png') }}" alt="Thumb">
                        <a href="https://www.youtube.com/watch?v=0U3WN3f52x8"
                            class="popup-youtube light video-play-button item-center">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>

                <div class="item-box col-lg-7">
                    <div class="row">
                        <div class="single-item col-lg-6 col-md-6">
                            <div class="item">
                                <span>01</span>
                                <i class="flaticon-library"></i>
                                <h4>Books & Library</h4>
                                <p>
                                    Absolute required of reserved in offering no. How sense found our those gay again
                                    taken the preserved ikewise law.
                                </p>
                                <ul>
                                    <li>Carrel Booking</li>
                                    <li>Student Reading Room</li>
                                    <li>Science library</li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-item col-lg-6 col-md-6">
                            <div class="item">
                                <span>02</span>
                                <i class="flaticon-teacher-2"></i>
                                <h4>Certified Teachers</h4>
                                <p>
                                    Absolute required of reserved in offering no. How sense found our those gay again
                                    taken the preserved ikewise law.
                                </p>
                                <ul>
                                    <li>Professional training</li>
                                    <li>Present content to students</li>
                                    <li>Students responsibility</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>