<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Zara Learning - Learn how to code">
    <!-- ========== Page Title ========== -->
    
    <title>{% block title %}Zara Learning{% endblock title %}</title>
    
    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
    <script src="https://js.stripe.com/v3/"></script>

    <!-- ========== Start Stylesheet ========== -->
    {% block styles %}
        {% include './partials/styles.html' %}
    {% endblock styles %}
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader Start -->
    <!-- <div class="se-pre-con"></div> -->
    <!-- Preloader Ends -->

    {% include './partials/header-secondary.html' %}

    {% block body %}
    <!-- Page content gets rendered here -->
    {% endblock body %}

    {% include './partials/footer.html' %}

    <!-- jQuery Frameworks -->
    {% block scripts %}
        {% include './partials/scripts.html' %}
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
    {% endblock scripts %}

    </body>
</html>