<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ZCLearning - Learn how to code">
    <!-- ========== Page Title ========== -->
    
    <title>{% block title %}ZCLearning{% endblock title %}</title>
    
    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    {% block styles %}
        {% include './partials/styles.html' %}
    {% endblock styles %}
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    {% include './partials/header-primary.html' %}

    {% block body %}
    <!-- Page content gets rendered here -->
    {% endblock body %}

    {% include './partials/footer.html' %}

    <!-- jQuery Frameworks -->
    {% block scripts %}
        {% include './partials/scripts.html' %}
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            var stripe = Stripe('{{ stripe_pub_key }}')
            $('.stripe-subscribe').each((idx, el) => {
                $(el).on('click', e => {
                    if ('{{ is_authenticated }}' === 'False') {
                        return window.location.href = '/auth/login?is_authenticated=false';
                    }
                    fetch(`${'{{ home_url }}'}/shop/subscribe`, {
                        method: 'POST',
                        mode: 'cors',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            priceId: '{{ subscription_basic }}'
                        })
                    })
                    .then(res => res.json())
                    .then(data => {
                        stripe.redirectToCheckout({
                            sessionId: data.sessionId
                        }).then(() => console.log('Done'))
                    })
                })
            })
        </script>
    {% endblock scripts %}

    </body>
</html>